recursive-include glimpsebrowser *.py
recursive-include glimpsebrowser/img *.svg *.png
recursive-include glimpsebrowser/javascript *.js
graft glimpsebrowser/html
graft glimpsebrowser/3rdparty
graft icons
graft doc/img
graft misc/apparmor
graft misc/userscripts
graft misc/requirements
recursive-include scripts *.py *.sh *.js
include glimpsebrowser/utils/testfile
include glimpsebrowser/git-commit-id
include LICENSE doc/* README.asciidoc
include misc/org.glimpsebrowser.glimpsebrowser.desktop
include misc/org.glimpsebrowser.glimpsebrowser.appdata.xml
include misc/Makefile
include requirements.txt
include tox.ini
include glimpsebrowser.py
include misc/cheatsheet.svg
include glimpsebrowser/config/configdata.yml

prune www
prune scripts/dev
prune scripts/testbrowser/cpp
prune .github
exclude scripts/asciidoc2html.py
recursive-exclude doc *.asciidoc
include doc/glimpsebrowser.1.asciidoc
include doc/changelog.asciidoc
prune tests
prune glimpsebrowser/3rdparty
exclude pytest.ini
exclude mypy.ini
exclude glimpsebrowser/javascript/.eslintrc.yaml
exclude glimpsebrowser/javascript/.eslintignore
exclude doc/help
exclude .*
exclude misc/glimpsebrowser.spec
exclude misc/glimpsebrowser.rcc
prune doc/extapi
prune misc/nsis

global-exclude __pycache__ *.pyc *.pyo
